// Import variables
@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.form {
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $clr-white;

  @include tablet {
    display: block;
  }

  h1 {
    padding-right: $quarter-rem;

    font-size: $f-s-500;
    font-weight: $f-w-500;
  }

  p {
    margin: $two-rem auto 0;
    padding: $one-rem;
    border: $one-px--size solid $clr-dark-red;
    text-align: center;
  }

  input {
    width: $twenty-rem;
    padding: $half-rem $one-rem;

    border: $one-px--size solid $clr-light-white;
    border-radius: $two-rem;

    color: $clr-terciary;

    @include tablet {
      width: 98%;
    }
  }

  ::placeholder {
    font-weight: $f-w-600;
    color: $clr-secondary;
  }

  button {
    align-self: end;
    padding: $half-rem $one-rem;
    background-color: $clr-white;
    border-radius: $blur-rem;

    font-size: $f-s-400;
    font-weight: $f-w-700;
    color: $clr-terciary;

    transition: all 0.3s ease-in-out;

    // Change the background color of the data when mouse is on the button
    &:hover {
      background-color: $clr-green;

      color: $clr-white;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    &--link {
      margin-right: $one-rem;

      // Style to fit content to tablet screen size
      @include tablet {
        width: 100%;
        margin-right: $quarter-rem;
      }

      &--legend {
        display: flex;

        margin-bottom: $half-rem;
        // Style to fit content to tablet screen size
        @include tablet {
          justify-content: flex-start;
        }
      }
    }
  }
}
