.form {
  width: 100%;
  padding: 3rem;
  background-color: aqua;
  border: 2px solid black;

  h1 {
    text-align: center;
  }

  &__container {
    width: 20rem;
    margin: 1em auto;
    border: 2px solid darkmagenta;
  }
  input {
    margin-bottom: 2rem;
    border: 2px solid blue;
  }
  button {
    padding: 0.7em;
    border: 2px solid green;
  }
}
