// Import variables
@use '../../../../styles/abstracts/colors' as *;
@use '../../../../styles/abstracts/fonts' as *;
@use '../../../../styles/abstracts/variables' as *;

// Delete a single bookmark component styling
.one--btn {
  width: fit-content;
  padding: $half-rem;
  background-color: $clr-red;
  border-radius: $blur-rem;
  border-top: $one-px--size solid $clr-light-white;
  border-left: $one-px--size solid $clr-light-white;
  box-shadow: 0 $quarter-rem $shadow-rem $clr-box-shadow;

  transition: all 0.3s ease-in-out;

  img {
    width: $one-quarter-rem;
  }

  // Change the background color of the data when mouse is on the button
  &:hover {
    background-color: $clr-terciary;
  }
}
