// Import variables
@use '../../../../styles/abstracts/colors' as *;
@use '../../../../styles/abstracts/fonts' as *;
@use '../../../../styles/abstracts/variables' as *;

//  Delete all bookmarks component styling
.all--btn {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: $seven-rem;
  padding: $one-rem;
  background-color: $clr-primary;
  border: $quarter-rem solid $clr-terciary;
  border-radius: $blur-rem;

  color: $clr-terciary;

  transition: all 0.3s ease-in-out;

  button {
    width: 100%;

    font-size: $f-s-400;
    font-weight: $f-w-700;
    text-align: center;
  }

  // Change the background color of the data when mouse is on the button
  &:hover {
    background-color: $clr-primary;
    -webkit-box-shadow: 0 0 1rem $cler-red-vivid;
    box-shadow: 0 0 1rem $cler-red-vivid;
  }
}
