// Fonts Size
$f-s-340: .8rem;
$f-s-380: .9rem;
$f-s-400: 1rem;
$f-s-500: 1.25rem;
$f-s-600: 1.5rem;
$f-s-800: 2rem;
$f-s-1200: 3rem;
$f-s-1600: 4rem;

// Fonts Weight
$f-w-300: 300;
$f-w-400: 400;
$f-w-500: 500;
$f-w-600: 600;
$f-w-700: 700;
$f-w-800: 800;