// pixels to rem variables
$one-px--size: .063rem;

$quarter-rem: .25rem;
$half-rem: .5rem;
$one-rem: 1rem;
$two-rem: 2rem;
$three-rem: 3rem;
$four-rem: 4rem;
$five-rem: 5rem;
$six-rem: 6rem;
$seven-rem: 7rem;
$eightish-rem: 8.75rem;
$ten-rem: 10rem;
$twelve-rem: 12rem;

$blur-rem: .3rem;
$shadow-rem: 1.5rem;
$padding--size: 2rem;