// pixels to rem variables
$one-px--size: .063rem;
$quarter-rem: .25rem;
$half-rem: .5rem;
$one-rem: 1rem;
$two-rem: 2rem;
$three-rem: 3rem;
$seven-rem: 7rem;
$blur-rem: .3rem;
$shadow-rem: 1.5rem;
$padding--size: 2rem;