// Size variables in rem units
$one-px--size: .063rem;

$point-one-rem: .1rem;
$quarter-rem: .25rem;
$half-rem: .5rem;
$one-rem: 1rem;
$one-quarter-rem: 1.25rem;
$two-rem: 2rem;
$two-half-rem: 2.5rem;
$three-rem: 3rem;
$four-rem: 4rem;
$five-rem: 5rem;
$six-rem: 6rem;
$seven-rem: 7rem;
$eight-rem: 8rem;
$eightish-rem: 8.59rem;
$nine-rem: 9rem;
$nineish-rem: 9.6rem;
$ten-rem: 10rem;
$eleven-rem: 11rem;
$twelve-rem: 12rem;
$thirteen-rem: 13rem;
$fourteen-rem: 14rem;
$fourteen-half-rem: 14.5rem;
$fifteen-rem: 15rem;
$sixteen-rem: 16rem;
$seventeen-rem: 17rem;
$eighteen-rem: 18rem;
$nineteen-rem: 19rem;
$twenty-rem: 20rem;

$blur-rem: .3rem;
$shadow-rem: 1.5rem;
$padding--size: 2rem;