// Import variables
@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/variables' as *;

// Pagination styling
.pagination {
  // Fixing the component at the bottom of the page
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  gap: $two-rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: $one-quarter-rem;
  background-color: $clr-primary;
  border-top: $one-px--size solid $clr-light-white;

  color: $clr-white;

  nav {
    display: flex;
    justify-content: center;

    width: 100%;
  }

  svg {
    color: rgba(255, 255, 255, 1);
  }

  &__list {
    display: flex;
    gap: $two-rem;
    align-items: center;

    margin: 0 $three-rem;
  }

  &__item {
    // Styling the default number of page navigation when there is not any bookmark in the list
    &--base {
      padding: 0.5rem;
      background-color: $clr-terciary;
      border-radius: $blur-rem;
      border-top: $one-px--size solid $clr-light-white;
      border-left: $one-px--size solid $clr-light-white;
      box-shadow: 0 $quarter-rem $shadow-rem $clr-box-shadow;
      backdrop-filter: blur($blur-rem);

      font-weight: $f-w-700;
    }
  }

  // Styling the number of the current page
  .selectedPage {
    padding: 0.5rem;
    background-color: $clr-terciary;
    border-radius: $blur-rem;
    border-top: $one-px--size solid $clr-light-white;
    border-left: $one-px--size solid $clr-light-white;
    box-shadow: 0 $quarter-rem $shadow-rem $clr-box-shadow;
    backdrop-filter: blur($blur-rem);

    font-weight: $f-w-700;
  }
}
