@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;
@use '../../styles/abstracts/variables' as *;

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: space-around;

    width: 100%;

    padding: $two-rem 0;
    background-color: $clr-primary;
  }

  .separator {
    position: absolute;
    top: $eightish-rem;

    width: 100%;
    height: 0.0625em;
    --direction: to right;
    background: linear-gradient(
      var(--direction),
      transparent,
      $clr-light-white 50%,
      transparent
    );
  }

  main {
    margin-top: $thirteen-rem;
  }
}
