@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;
@use '../../styles/abstracts/variables' as *;

.bookmark--card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $one-rem;

  background: $clr-bg-card;
  border-top: $one-px--size solid $clr-light-white;
  border-left: $one-px--size solid $clr-light-white;
  border-radius: $one-rem;
  box-shadow: 0 $quarter-rem $shadow-rem $clr-box-shadow;
  backdrop-filter: blur($blur-rem);

  a {
    font-size: $f-s-500;
    font-weight: $f-w-300;
    color: $clr-white;
  }
}

.bookmark--card__edit {
  &--buttons {
    display: flex;
    gap: $one-rem;
    flex-direction: column;
  }
}

.bookmark--card__update {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  input {
    height: fit-content;
    padding-bottom: $half-rem;
    padding-top: $half-rem;
    padding-left: $one-rem;

    border: $one-px--size solid $clr-white;
    border-radius: $one-rem;

    font-size: $f-s-500;
    font-weight: $f-w-300;
    color: $clr-white;
  }

  &--buttons {
    display: flex;
    gap: $one-rem;
    flex-direction: column;

    align-self: auto;
  }
}
