@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/variables' as *;

.error {
  position: fixed;
  top: 8%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  width: fit-content;
  padding: $half-rem $one-rem;

  span {
    font-size: $f-s-500;
    font-weight: $f-w-600;
    color: $clr-dark-red;
  }
}