@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/variables' as *;

.all--btn {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: $ten-rem;
  padding: $one-rem;
  background-color: $clr-vivid-red;
  border-radius: $blur-rem;

  color: $clr-white;

  transition: all 0.3s ease-in-out;

  button {
    width: 100%;

    font-size: $f-s-400;
    font-weight: $f-w-700;
    text-align: center;
  }

  &:hover {
    background-color: $clr-vivid-red;
    -webkit-box-shadow: 0 0 1rem $clr-vivid-red;
		box-shadow: 0 0 1rem $clr-vivid-red;
  }
}