@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;
@use '../../styles/abstracts/variables' as *;

.header__container {
  display: flex;
  gap: $one-rem;
  align-items: center;
  justify-content: center;

  img {
    width:$three-rem;
  }

  h1 {
    font-family: "Lobster", cursive;
    font-size: $f-s-1200;

    color: $clr-white;
  }
}