// Import variables
@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.search--bar {
  display: flex;
  gap: $quarter-rem;
  justify-content: center;

  margin-bottom: 2rem;

  input {
    width: $fifteen-rem;
    padding: $half-rem $one-rem;

    border: $one-px--size solid $clr-light-white;
    border-radius: $two-rem;

    @include phones {
      width: 13rem;
    }
  }

  ::placeholder {
    font-weight: $f-w-600;
    color: $clr-secondary;
  }
}
