@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/variables' as *;

.bookmark--list {
  display: grid;
  gap: $one-rem;
  grid-template-columns: repeat(5, 1fr);

  width: 80%;
  max-width: 1200px;
  margin: 1rem auto;
}