// Import variables
@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/variables' as *;

*,
html,
body {
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $clr-primary;

  min-height: 100%;
}
